


body{
	background-color: lavenderblush;
	font-family: monaco;
	color: black;
	margin-top: 5%;
	margin-bottom: 10%;
}

.container{
	background-color: #b8c2d1;
	padding: 20px;
	
}

.footer{
	position: fixed;
	background-color: #d1b8bd;
	text-align: center;
	width: 100%;
	bottom: 0;
}
