


body{
	background-color: lightpink;
	font-family: monaco;
	color: black;
}

.container{
	background-color: powderblue;
	
}

.footer{
	position: fixed;
	background-color: lavenderblush;
	text-align: center;
	width: 100%;
	bottom: 0;
}
